{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load disqus_tags %}
{% load gravatar %}

{% block main %}
        <link rel="shortcut icon" href="../favicon.ico"> 
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/demo.css' %}" />
		<link rel="stylesheet" type="text/css" href="{% static 'webapp/css/common.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'webapp/css/style2.css' %}" />
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,700' rel='stylesheet' type='text/css' />
		<script type="text/javascript" src="{% static 'webapp/js/modernizr.custom.79639.js' %}"></script> 

<div class="col-mod-12">
	<ul class="nav nav-pills nav-stacked ">
	  <li role="presentation" class="navbar_about col-md-3"><a href="#Quienes">¿Quienes somos?</a></li>
	  <li role="presentation" class="navbar_about col-md-3"><a name="Que ofrecemos">¿Que ofrecemos?</a></li>
	</ul>
</div>

<div class="col-mod-12">
	<a name="Quienes">

	<h1>
		<p>asdfasdfasdfa</p>
	</h1>

	</a>
	

<section class="us">
			
				<ul class="ch-grid">
					<li>
						<div class="ch-item ch-img-1">
							<div class="ch-info">
								<h3>Sergio Garcia Alonso</h3>
								<p> 								            
									<div class="jffooter1">
					              		<a title="Sergio on Linkedin" href="https://es.linkedin.com/in/garciaalonsosergio"TARGET="_new"><div class="jfsocial1">&#62232;</div><a title="Sergio on Twitter" href="https://twitter.com/sgavmp"TARGET="_new"><div class="jfsocial">&#62217;</div>  
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-2">
							<div class="ch-info">
								<h3>Vitaliy <br> Burdenyuk</h3>
								<p> 								            
									<div class="jffooter1">
					              		<a title="Vitaliy on Linkedin" href="https://es.linkedin.com/pub/vitaliy-burdenyuk/90/84/3b4"TARGET="_new"><div class="jfsocial1">&#62232;</div><a title="Vitaliy on Twitter" href="https://twitter.com/VitaliyB87"TARGET="_new"><div class="jfsocial">&#62217;</div>  
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-3">
							<div class="ch-info">
								<h3>Pamela Vega Rodriguez</h3>
								<p> 								            
									<div class="jffooter1">
								    	<a title="Pamela on Twitter" href="https://twitter.com/pamevega"TARGET="_new"><div class="jfsocial">&#62217;</div>  
								</p>
							</div>
						</div>
					</li>
					<li>
						<div class="ch-item ch-img-4">
							<div class="ch-info">
								<h3>Miguel Lumeras Gutierrez</h3>
								<p> 								            
									<div class="jffooter1">
								        <a title="Miguel on Linkedin" href="https://es.linkedin.com/pub/miguel-lumeras/ab/17/6a5"TARGET="_new"><div class="jfsocial1">&#62232;</div><a title="Miguel on Twitter" href="https://twitter.com/m_lumeras"TARGET="_new"><div class="jfsocial">&#62217;</div>  
								</p>
							</div>
						</div>
					</li>
				</ul>
				
			</section>








				
{% endblock %}