{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load gravatar %}

{% block menu_list %}
    <li class="active"><a href="{{ request.path }}">Listado<span
            class="sr-only">(current)</span></a></li>
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if activity_list %}
                <div class="panel panel-default panel-body text-center listaplans">
                    {% for activity in activity_list %}
                        <div class="row bloque">
                            <div class="panel">
                                <a href="{% url 'activity_details' activity.id %}"><h4>{{ activity.title }}</h4></a>

                                <div class="col-md-7 description">
                                    <p class="description">{{ activity.description|safe }}<p>
                                </div>
                                <div class="col-md-5 description">
                                    <img class="img-rounded"
                                         src="https://maps.googleapis.com/maps/api/staticmap?center={{ activity.position.latitude|safe }},{{ activity.position.longitude|safe }}&zoom=13&size=250x250&maptype=roadmap
                                &markers=color:red%7Clabel: %7C{{ activity.position.latitude|safe }},{{ activity.position.longitude|safe }}">
                                </div>
                                <div class="col-md-4 col-md descriptionplan">
                                    {{ activity.activity_date }}
                                </div>
                                <div class="col-md-4 col-md descriptionplan">
                                    {{ activity.price }} €
                                </div>
                                {% if user.is_authenticated %}
                                    <div class="col-md-4 col-md descriptionplan">
                                        {% if user in activity.participants.all %}
                                            <a href="{% url 'activity_unenrrollment' activity.id %}">Borrate</a>
                                        {% else %}
                                            <a href="{% url 'activity_enrrollment' activity.id %}">Apuntate</a>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    {% if page %}
                        <nav>
                            <ul class="pager">
                                {% if page != 1 %}
                                    <li class="previous"><a
                                            href="{% url url page|add:"-1" %}"><span aria-hidden="true">&larr;</span>
                                        Anteriores</a></li>
                                {% endif %}
                                {% if page != last %}
                                    <li class="next"><a href="{% url url page|add:"1" %}">Siguientes
                                        <span aria-hidden="true">&rarr;</span></a></li>
                                {% endif %}
                            </ul>
                        </nav>
                    {% endif %}
                </div>
            {% else %}
                <h3>No hay planes activos</h3>
            {% endif %}
        </div>
    </div>

{% endblock %}