{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load gravatar %}

{% block menu_list %}
    {% url 'my_list' as my_url %}
    {% if request.path != my_url %}
        <li class="active"><a href="{{ request.path }}">Listado<span
                class="sr-only">(current)</span></a></li>
    {% endif %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            {% if activity_list %}
                <div class="panel panel-default panel-body text-center listaplans">
                    {% for activity in activity_list %}
                        <div class="row bloque">
                            <div class="panel">
                                {% if url == 'activity_list_repeat' %}
                                    {% if activity.id == origin %}
                                        <h3><span class="label label-primary etiqueta-original">Original</span></h3>
                                    {% endif %}
                                {% endif %}
                                <div class="col-md-7 description">
                                    <a href="{{ activity.get_absolute_url }}"><h4>{{ activity.title }}</h4>
                                    </a>

                                    <p class="description">{{ activity.description|safe }}<p>
                                    <li class="label descriptionplan list-group-item grupo">
                                        {{ activity.activity_date }}
                                    </li>
                                    <li class="label descriptionplan list-group-item grupo">
                                        {% if activity.price == 0.0 %}
                                            Gratis
                                        {% else %}
                                            {{ activity.price }} €
                                        {% endif %}
                                    </li>
                                </div>
                                <div class="col-md-5 description">
                                    <img class="img-rounded img-responsive margen"
                                         src="https://maps.googleapis.com/maps/api/staticmap?center={{ activity.position.latitude|safe }},{{ activity.position.longitude|safe }}&zoom=13&size=250x250&maptype=roadmap
                                &markers=color:red%7Clabel: %7C{{ activity.position.latitude|safe }},{{ activity.position.longitude|safe }}">
                                </div>
                                {% if user.is_authenticated %}
                                    <div class="col-md-12 col-md descriptionplan">
                                        {% if activity.is_open %}
                                            {% if user in activity.participants.all %}
                                                <a class="btn btn-lg btn-danger"
                                                   href="{% url 'activity_unenrrollment' activity.get_slug activity.id %}">Borrate</a>
                                            {% else %}
                                                {% if activity.count_participantes < activity.limit_participants or activity.limit_participants == 0 %}
                                                    <a class="btn btn-lg btn-success"
                                                       href="{% url 'activity_enrrollment' activity.get_slug activity.id %}">Inscribete</a>
                                                {% endif %}
                                            {% endif %}
                                        {% else %}
                                            <a class="btn btn-lg btn-warning fin"
                                               href="{{ activity.get_absolute_url }}">Plan terminado, entra a
                                                valorarlo!</a>
                                        {% endif %}
                                        
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                    <nav>
                        <ul class="pager">
                            {% if activity_list.has_previous %}
                                <li class="previous"><a
                                        href="{% url url activity_list.previous_page_number %}"><span
                                        aria-hidden="true">&larr;</span>
                                    Anteriores</a></li>
                            {% endif %}
                            <li class="current">
                                <span aria-hidden="true">Pagina {{ activity_list.number }} de {{ activity_list.paginator.num_pages }}</span>
                            </li>
                            {% if activity_list.has_next %}
                                <li class="next"><a href="{% url url activity_list.next_page_number %}">Siguientes
                                    <span aria-hidden="true">&rarr;</span></a></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            {% else %}
                <h3 align="center">No se encuentra ningun plan con estos parametros de busqueda</h3>
            {% endif %}
        </div>
    </div>

{% endblock %}