{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block main %}
    <div class="row">

        <div class="col-md-8 col-md-offset-2">
            <div class="panel panel-default panel-body text-center listaplans">
                {% for activity in activity_list %}
                    <div class="row bloque">
                        <div class="panel">                        
                        <h4>{{ activity.title }}</h4>
                            <div class="col-md-7 description">
                                <p class="description">{{activity.description}}<p>
                            </div>
                            <div class="col-md-5 description">
                                <img class="img-rounded" src="https://maps.googleapis.com/maps/api/staticmap?center=Brooklyn+Bridge,New+York,NY&zoom=13&size=250x250&maptype=roadmap
                                &markers=color:blue%7Clabel:S%7C40.702147,-74.015794">
                            </div>
                            <div class="col-md-4 col-md descriptionplan">
                                {{activity.activity_date}}
                            </div>
                            <div class="col-md-4 col-md descriptionplan">
                                {{activity.price}} €
                            </div>
                            <div class="col-md-4 col-md descriptionplan">
                                {% if user in activity.participants.all %}
                                    <a href="{% url 'activity_unenrrollment' activity.id %}">Borrate</a>
                                {% else %}
                                    <a href="{% url 'activity_enrrollment' activity.id %}">Apuntate</a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}