{% extends "webapp/base.html" %}
{% load staticfiles %}
{% load disqus_tags %}
{% load gravatar %}


{% block custom_css %}
 <link rel="stylesheet" href="{% static 'webapp/css/jquery.rateyo.min.css' %}"/>
    <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-lg-3">
            {% if user.is_authenticated %}
                <div id="rateYo"></div>
            {%else%}
                <div class="col-md-6 col-xs-6 "><a class="btn btn-default btn-eathub"
                                                         href=""
                                                         role="button">Accede</a>
            {% endif %}
        </div>

        <div class="col-lg-3">
            <b>Usuario creador del plan:</b>

            <p>{{ activity.user_own.username }}</p>
        </div>
        <!-- /.col-lg-6 -->
        
        <!-- /.col-lg-4 -->
        <div class="col-lg-3">
            <button type="button">Evento anterior</button>
        </div>
        <!-- /.col-lg-1 -->
        <div class="col-lg-1">
            <button type="button"><img class="img-rounded" src="static/images/share_orange.png" alt="Compartir"
                                       height="41" width="75%"></button>
        </div>
        <!-- /.col-lg-1 -->
    </div><!-- /.row -->
    <br>

    <div class="row block_description_plan">

        <div class="col-lg-6">

            <div id="map-canvas" style="height:380px;"></div>

            <script src="https://maps.googleapis.com/maps/api/js"></script>
            <script>
                function initialize() {
                    var myLatlng = new google.maps.LatLng({{ activity.position.latitude|safe }}, {{ activity.position.longitude|safe }});
                    var mapProp = {
                        zoom: 16,
                        center: myLatlng
                    };
                    var map = new google.maps.Map(document.getElementById('map-canvas'), mapProp);
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        map: map,
                        title: '{{ activity.place_name }}'
                    });
                }
                google.maps.event.addDomListener(window, 'load', initialize);
            </script>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6">
            <b>Lugar del plan:</b>

            <p>{{ activity.place_name }}</p>
            <br>
            <b>Título del plan:</b>

            <p>{{ activity.title }}</p><br>
            <b>Descripción:</b>

            <p>{{ activity.description }}</p><br>
        </div>
        <!-- /.col-lg-6 -->
    </div><!-- /.row -->
    <br><br>
    <div class="row">
        <div class="col-lg-4">
            <b>Fecha:</b>

            <p>{{ activity.activity_date }}</p><br>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <b>Precio:</b>

            <p>{{ activity.price }}</p><br>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4">
            <b>Número máximo de personas:</b>

            <p>{{ activity.limit_participants }}</p><br>
        </div>
        <!-- /.col-lg-4 -->
    </div><!-- /.row -->

    <div class="col-md-8 col-md-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Participantes inscritos</h3>
            </div>
            <div class="panel-body">
                {% if activity.participants.all == None %}
                <h3>No hay participantes inscritos</h3>
                {% endif %}
                {% for user in activity.participants.all %}
                <a title="{{ user.username }}" onclick="return false;">
                    <img src="{% gravatar_url user.email %}" alt="{{ user.username }}">
                </a>
                {% endfor %}
            </div>
        </div>

<h1 style="margin-top:150px" align="center"></h1>

    
    
  <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'webapp/js/jquery.rateyo.js' %}"></script>

    <script>

      $(function () {
 
  $("#rateYo").rateYo({
    rating: 3.6
  });
 
});

    </script>


    </div>
    {% disqus_show_comments %}

{% endblock %}