{# Load the tag library #}
{% load bootstrap3 %}
{% load staticfiles %}
{% load gravatar %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    {% metadata %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{% static 'webapp/images/favicon.ico' %}">
    <script src="{% static 'webapp/js/jquery.min.js' %}"></script>
    <title>Druzi</title>
    {# Load CSS and JavaScript #}
    {% bootstrap_css %}
    <link href="{% static 'webapp/css/bootstrap-tagsinput.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/css/theme.css' %}" rel="stylesheet">
    <link href="{% static 'webapp/css/style.css' %}" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.css" rel="stylesheet">
    <link href='http://weloveiconfonts.com/api/?family=entypo' rel='stylesheet' type='text/css'>
    {% block custom_css %}    {% endblock %}
</head>
<body>
<header>
    {% bootstrap_messages %}
    {% block navbar %}
        {# Display django.contrib.messages as Bootstrap alerts #}
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'main' %}"><img height="50"
                                                                         src="{% static 'webapp/images/logo.png' %}"/></a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="{% navactive request 'main' %}"><a href="{% url 'main' %}">Inicio<span
                                class="sr-only">(current)</span></a></li>
                        {% block menu_list %} {% endblock %}
                        {% if user.is_authenticated %}
                            <li class="{% navactive request 'activity_creation' %}"><a
                                    href="{% url 'activity_creation' %}">Crear
                                Actividad</a></li>
                            <li class="{% navactive request 'my_list' %}"><a
                                    href="{% url 'my_list' %}">Mis Actividades</a></li>
                        {% endif %}
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <form class="navbar-form navbar-left" method="post" role="search" action="{% url 'search' %}">
                            {% csrf_token %}
                            <div id="remote" class="form-group">
                                <input name="query" data-role="tagsinput" type="text" class="typeahead form-control"
                                       placeholder="Busca...">
                            </div>
                            <button type="submit" class="btn btn-default">Buscar</button>
                        </form>
                        {% if user.is_authenticated %}
                            <li class="dropdown">
                                <a class="profile-image dropdown-toggle" data-toggle="dropdown"
                                   href="/profile/{{ user.username }}">Hola {{ user.username }}
                                    <img class="img-circle" src="{% gravatar_url user.email %}"><span
                                            class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url 'profile' user.username %}">Perfil</a></li>
                                    <li class="divider"></li>
                                    <li><a href="{% url 'logout' %}">Salir</a></li>
                                </ul>
                            </li>
                        {% else %}
                            <li class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown"
                                   href="#">Acceder
                                </a>
                                <ul class="dropdown-menu">
                                    <p class="col-md-12">
                                        Accede con una de tus cuentas sociales
                                    </p>

                                    <div class="social-buttons col-md-12">
                                        <a class=" btn btn-primary social-login-btn social-facebook"
                                           href="{% url 'social:begin' 'facebook' %}?next={% url 'main' %}"><i
                                                class="fa fa-facebook"></i></a>
                                    </div>
                                    <div class="social-buttons col-md-12">
                                        <a class="btn btn-primary social-login-btn social-twitter"
                                           href="{% url 'social:begin' 'twitter' %}"><i
                                                class="fa fa-twitter"></i></a>
                                    </div>


                                    <div class="social-buttons col-md-12">
                                        <a class="btn btn-primary social-login-btn social-disqus"
                                           href="{% url 'social:begin' 'disqus' %}"><span class="socicon socicon-disqus"></span></a>
                                    </div>
                                    <div class="social-buttons col-md-12" id="googleBtn">
                                        <a class="btn btn-primary social-login-btn social-google"><i
                                                class="fa fa-google-plus"></i></a>

                                        <form id="google-plus" method="post"
                                              action="{% url 'social:complete' "google-plus" %}"
                                              style="display: none">
                                            {% csrf_token %}
                                            <input id="at" type="hidden" name="access_token" value=""/>
                                            <input id="code" type="hidden" name="code" value=""/>
                                        </form>
                                    </div>
                                </ul>
                            </li>
                        {% endif %}
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    {% endblock navbar %}
</header>
<main class="container">
    {% block main %}

    {% endblock %}
</main>
<footer>
    <div class="col-sm-8 col-md-offset-2 margen2">
        <div id="footer-nav" class="pull-left">
            <ul class="list-inline">
                <li>¿Quienes somos?</li>
                <li>¿Que propone Druzi?</li>    
            </ul>
        </div>
        <div class="social pull-right">
            <a class="btn btn-lg btn-social-icon btn-facebook" href="https://www.facebook.com/druziapp">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="btn btn-lg btn-social-icon btn-twitter" href="https://www.twitter.com/BeevaDruzi">
                <i class="fa fa-twitter"></i>
            </a>
    <script src="{% static 'webapp/js/typeahead.bundle.js' %}"></script>
    <script src="{% static 'webapp/js/bootstrap-tagsinput.js' %}"></script>
    <script>
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js?onload=render';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
        function render() {
            gapi.signin.render('googleBtn', {
                'callback': 'signinCallback',
                'clientid': "531503359712-4j44d1d1vov42c75i8bujmo1eer7bh4m.apps.googleusercontent.com",
                'cookiepolicy': 'single_host_origin',
                'requestvisibleactions': 'http://schemas.google.com/AddActivity',
                'scope': 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email'
                //'approvalprompt': 'force'
            });
        }
        var signinCallback = function (result) {
            if (result['g-oauth-window']) {
                if (result['error']) {
                    alert('Google+ sign-in - An error happened:', result['error']);
                } else {
                    $('#code').attr('value', result['code']);
                    $('#at').attr('value', result['access_token']);
                    $('#google-plus').submit();
                }
            } else {
                gapi.auth.signOut();
            }
        };
        var tags = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('pk'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '/tags/%QUERY',
                wildcard: '%QUERY'
            }
        });

        $('.typeahead').tagsinput({
            typeaheadjs: {
                name: 'tags',
                displayKey: 'pk',
                valueKey: 'pk',
                source: tags
            }
        });

    </script>
    {% bootstrap_javascript %}
    {% block custom_js %} {% endblock %}
</footer>
{# Read the documentation for more information #}
<div class="jffooter">
  <a title="[Druziapp] on Facebook" href="http://facebook.com/druziapp"><div class="jfsocial">&#62220;</div><a title="[Druziapp] on Twitter" href="http://yournetwork.ning.com"><div class="jfsocial">&#62217;</div>
</div>
</br>



</body>
</html>