{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block main %}
    <div class="col-md-6 login-form">
        <div class="col-md-9 col-md-offset-2">
            <div class="panel panel-body">
                <form role="form" action="{% url 'login' %}" method="post">
                    {% csrf_token %}
                    {% if form.errors %}
                        <div class="alert alert-danger">El usuario o la contraseña son erroneas</div>
                    {% endif %}
                    <div class="form-group">
                        <input class="form-control" type="text" id="username" name="username"
                               placeholder="Usuario"
                               required
                               autofocus>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="password" name="password" id="password"
                               placeholder="Contraseña"
                               required>
                    </div>
                    <button class="btn btn-lg btn-default btn-eathub login-form-submit" type="submit">
                        Accede
                    </button>

                    <div class="login-form-signup">
                        <a href="">Crea una cuenta</a>
                    </div>
                    <div class="login-form-forgot">
                        <a href="">Olvidé la contraseña</a>
                    </div>
                </form>
                <hr>
                <!-- Social -->
                <div class="form-group">
                    <h3 class="login-form-heading">O accede con:</h3>
                    <!-- Google+ -->
                    <div class="form-group text-center">
                        <div id="googleBtn">
                            <a class="btn btn-social btn-google-plus">
                                <i class="fa fa-google-plus"></i>Accede con Google+</a>
                        </div>
                    </div>
                    <form id="google-plus" method="post" action="{% url 'social:complete' "google-plus" %}"
                          style="display: none">
                        {% csrf_token %}
                        <input id="at" type="hidden" name="access_token" value=""/>
                        <input id="code" type="hidden" name="code" value=""/>
                    </form>
                    <!-- Facebook -->
                    <div class="form-group text-center">
                        <a class="btn btn-social btn-facebook"
                           href="{% url 'social:begin' 'facebook' %}?next={% url 'main' %}">
                            <i class="fa fa-facebook"></i>Accede con Facebook</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>

{% endblock %}

{% block custom_js %}
    <script>
        (function () {
            var po = document.createElement('script');
            po.type = 'text/javascript';
            po.async = true;
            po.src = 'https://apis.google.com/js/client:plusone.js?onload=render';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(po, s);
        })();
        function render() {
            gapi.signin.render('googleBtn', {
                'callback': 'signinCallback',
                'clientid': "531503359712-4j44d1d1vov42c75i8bujmo1eer7bh4m.apps.googleusercontent.com",
                'cookiepolicy': 'single_host_origin',
                'requestvisibleactions': 'http://schemas.google.com/AddActivity',
                'scope': 'https://www.googleapis.com/auth/plus.login https://www.googleapis.com/auth/userinfo.email'
                //'approvalprompt': 'force'
            });
        }
        var signinCallback = function (result) {
            if (result['g-oauth-window']) {
                if (result['error']) {
                    alert('Google+ sign-in - An error happened:', result['error']);
                } else {
                    $('#code').attr('value', result['code']);
                    $('#at').attr('value', result['access_token']);
                    $('#google-plus').submit();
                }
            }else {
                gapi.auth.signOut();
            }
        };
    </script>

{% endblock %}