{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block custom_css %}

{% endblock %}

{% block main %}
    <div class="starter-template">
        <h1>D R U Z I</h1>

        <p class="lead">Busca por palabras clave planes ya propuestos por la comunidad Druzi.<br>
            Además, descubre los planes más buscados, más baratos, más raros y más propuestos en un solo click!
            <br>Anímate también a crear tus propios planes ganando popularidad en Druzi</p>
    </div>

    <div class="row busqueda">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="input-group">
                <form class="navbar-form navbar-left" method="post" role="search" action="{% url 'search' %}">
                    {% csrf_token %}
                    <input name="query" data-role="tagsinput" type="text" class="typeahead form-control" type="text"
                           placeholder="Busca planes por palabras clave separadas por comas...">
            <span class="input-group-btn">
              <button class="btn btn-default" type="submit">Buscar</button>
            </span>
                </form>
            </div>
            <!-- /input-group -->
        </div>
        <!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <br></br>

    <div class="row">
        <div class="col-lg-6 prueba">
            <div style="text-align: center;">
                <img class="img-rounded" src="{% static 'webapp/images/weird_orange.jpg' %}"
                     alt="Generic placeholder image" height="200" width="75%">

                <h2>Últimos planes propuestos</h2>

                <p><a class="btn btn-default" href="{% url 'activity_ultimos_propuestos_pagination' %}" role="button">Ver
                    planes »</a></p>
            </div>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6 prueba">
            <div style="text-align: center;">
                <img class="img-rounded" src="{% static 'webapp/images/trending_orange.png' %}"
                     alt="Generic placeholder image" height="200" width="75%">

                <h2>Los más buscados</h2>

                <p><a class="btn btn-default" href="{% url 'activity_mas_buscados_pagination' %}" role="button">Ver
                    planes »</a></p>
            </div>
        </div>
        <!-- /.col-lg-6 -->

        <div class="col-lg-6 prueba">
            <div style="text-align: center;">
                <img class="img-rounded" src="{% static 'webapp/images/money_orange.jpg' %}"
                     alt="Generic placeholder image" height="200" width="75%">

                <h2>Los más baratos</h2>

                <p><a class="btn btn-default" href="{% url 'activity_mas_baratos_pagination' %}" role="button">Ver
                    planes »</a></p>
            </div>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6 prueba">
            <div style="text-align: center;">
                <img class="img-rounded" src="{% static 'webapp/images/infinite_orange.jpg' %}"
                     alt="Generic placeholder image" height="200" width="75%">

                <h2>Los más propuestos</h2>

                <p><a class="btn btn-default" href="{% url 'activity_mas_propuestos_pagination' %}" role="button">Ver
                    planes »</a></p>
            </div>
        </div>
        <!-- /.col-lg-6 -->
    </div>

{% endblock %}

{% block custom_js %}
    <script src="{% static 'webapp/js/ie-emulation-modes-warning.js' %}"></script>
{% endblock %}