{% extends "webapp/base.html" %}
{% load staticfiles %}

{% block custom_css %}

{% endblock %}

{% block main %}
    <div class="starter-template">
        <h1>D R U Z I</h1>

        <p class="lead">Busca por palabras clave planes ya propuestos por la comunidad Druzi.<br>
            Además, descubre los planes más buscados, más baratos, más raros y más propuestos en un solo click!
            <br>Anímate también a crear tus propios planes ganando popularidad en Druzi</p>
    </div>

    <div class="row busqueda">
        <div class="col-lg-8 col-lg-offset-2">
            <form method="post" role="search" action="{% url 'search' %}">
                {% csrf_token %}
                <div class="form-group">
                    <input class="form-control" name="query" data-role="tagsinput" type="text"
                           placeholder="Busca planes por palabras clave separadas por comas...">
                </div>
                <button class="btn btn-lg btn-primary center-block" type="submit">Buscar</button>
            </form>

            <!-- /input-group -->
        </div>
        <!-- /.col-lg-12 -->
    </div><!-- /.row -->

    <br>

    <div class="row">
        <div class="col-lg-6 prueba">
            <div style="text-align: center;">
                <a href="{% url 'activity_ultimos_propuestos_pagination' %}" role="button">
                    <h2 class="page-header">Últimos planes propuestos</h2>
                    <img class="img-rounded" src="{% static 'webapp/images/weird_orange.jpg' %}"
                         alt="Generic placeholder image" height="200" width="75%">
                    <p class="btn btn-primary btn-center margen">Ver planes »</p>
                </a>
            </div>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6 prueba">
            <div style="text-align: center;">
                <a href="{% url 'activity_mas_buscados_pagination' %}" role="button">
                    <h2 class="page-header">Los más buscados</h2>
                    <img class="img-rounded" src="{% static 'webapp/images/trending_orange.png' %}"
                         alt="Generic placeholder image" height="200" width="75%">
                    <p class="btn btn-primary btn-center margen">Ver planes »</p>
                </a>
            </div>
        </div>
        <!-- /.col-lg-6 -->

        <div class="col-lg-6 prueba">
            <div style="text-align: center;">
                <a href="{% url 'activity_mas_baratos_pagination' %}" role="button">
                    <h2 class="page-header">Los más baratos</h2>
                    <img class="img-rounded" src="{% static 'webapp/images/money_orange.jpg' %}"
                         alt="Generic placeholder image" height="200" width="75%">
                    <p class="btn btn-primary btn-center margen">Ver planes »</p>
                </a>
            </div>
        </div>
        <!-- /.col-lg-6 -->
        <div class="col-lg-6 prueba">
            <div style="text-align: center;">
                <a href="{% url 'activity_mas_propuestos_pagination' %}" role="button">
                    <h2 class="page-header">Los más propuestos</h2>
                    <img class="img-rounded" src="{% static 'webapp/images/infinite_orange.jpg' %}"
                         alt="Generic placeholder image" height="200" width="75%">
                    <p class="btn btn-primary btn-center margen">Ver planes »</p>
                </a>
            </div>
        </div>
        <!-- /.col-lg-6 -->
    </div>

{% endblock %}

{% block custom_js %}
    <script src="{% static 'webapp/js/ie-emulation-modes-warning.js' %}"></script>
{% endblock %}